<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Draw and Denoise</title>
    <style>
        /* Add CSS to make the highest prediction more prominent */
        #highestPrediction {
            font-weight: bold;  /* Make the text bold */
            font-size: 24px;    /* Increase the font size */
            margin-top: 20px;   /* Add some space on top for better separation */
        }
    </style>
</head>
<body>
    <canvas id="drawCanvas" width="280" height="280" style="border:1px solid;"></canvas>
    <button onclick="clearCanvas()">Clear</button>
    <button onclick="denoiseImage()">Denoise Image</button>
    <div id="highestPrediction"></div>
    <img id="outputImage" style="display: none; margin-top: 20px; max-width: 100%;" alt="Denoised Image">
    
    <script>
        const canvas = document.getElementById('drawCanvas');
        const ctx = canvas.getContext('2d');
        let drawing = false;
        
        canvas.addEventListener('mousedown', () => drawing = true);
        canvas.addEventListener('mouseup', () => {
            drawing = false;
            ctx.beginPath();
        });
        canvas.addEventListener('mousemove', draw);
        
        function draw(event) {
            if (!drawing) return;
            ctx.lineWidth = 12;
            ctx.lineCap = 'round';
            ctx.strokeStyle = 'black';

            ctx.lineTo(event.clientX - canvas.offsetLeft, event.clientY - canvas.offsetTop);
            ctx.stroke();
            ctx.beginPath();
            ctx.moveTo(event.clientX - canvas.offsetLeft, event.clientY - canvas.offsetTop);
        }

        function clearCanvas() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            document.getElementById('outputImage').style.display = 'none';
        }

        async function denoiseImage() {
            const imageData = ctx.getImageData(0, 0, canvas.width, canvas.height);
            const data = Array.from(imageData.data);
            
            const response = await fetch('http://127.0.0.1:5000/denoise', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ drawingData: data })
            });
            const jsonResponse = await response.json();

            const denoisedImageUrl = jsonResponse.outputImage;

            // Display the denoised image
            const outputImage = document.getElementById('outputImage');
            outputImage.src = `data:image/png;base64, ${denoisedImageUrl}`;
            outputImage.style.display = 'block';
        }
    </script>
</body>
</html>
